<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Fruits show page</h1>
  The <%= oneFruit.name %> is <%= oneFruit.color %>.
  <% if(oneFruit.readyToEat === true){ %>
      <p>It is ready to eat</p>
  <% } else { %>
      <p>It is not ready to eat</p>
  <% } %>
</body>
</html>